
body {
margin:2em;
max-width: 1100px;
width:95%;
}

header{
width:95%;
background-color:rgb(217,217,214);
margin-bottom:3em;
padding-left:3em;

}

p {
text-align: left;
width: 90%;


}

h1{
margin-bottom = 0em;
color: blue;
margin-top:0em;

}

h4 {
margin:0;
padding-bottom:2em;
padding-top:2em;
}


h5{
margin:0;
padding-top:2em;
padding-bottom:.2em;
color: #21abcd;

}


a {
  text-decoration: none;
}

a:hover{
color:blue;
}

nav li{
margin-top: .39em;
margin-right:1em;
padding: 0em;
margin-left:.05em;
}


nav ul {
list-style: none;
padding: 0;
display:flex;
justify-content:center;

}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

.current-page{

border-bottom: 1px solid #707070;

}




.site-title{
margin-bottom:0em;
}
.subtitle{
margin-top: 0em;
padding:0;
margin-bottom:2.2em;
}

.outer{
width: 90%;
margin: 0 auto;
display:flex;
flex-direction: column;

}

.main_section{
display: flex;
}

.titleimage{
width:95%;
height:20%;
background-image: url("./images/work.jpg");
background-position: bottom;
background-repeat: no-repeat;
background-size:cover;
margin:0em;
padding:0em;
}

.lhandrect{
display:flex;
align-contents: start;


border-width: 2px;
margin-bottom: 2em;
padding:0em;
margin:0em;

}

.lhandtext{
border-color: green;
border-style: solid;
border-width: 2px;
margin-bottom: 2em;
padding-left:0;


}

.smallimage{


border-width: 2px;
margin-bottom: 0em;
margin-right: 18em;
width:100%;
max-width: 270;
vertical-align: middle;
}

.date{
margin:0em;
padding:0em;
}

.blue_bold_link{
color: blue;
margin-bottom:2em;
}

.container{
display:flex;
width: 90%
margin: 0 auto;
justify-content: space-between;
}

.rhanded_boxes{

margin-left:4em;
margin:0;
width:100%;
padding:0;
align-content: stretch;

}

.asidehigher{
width:50%;
border-color: #d7d7d7;
border-style: solid;
border-width: 10px;
margin-bottom: 2em;
margin-left: 0em;
text-align:center;
padding:0;
display: block;
}

.asidelower{
width:50%;
border-color:#d7d7d7;
border-style: solid;
border-width: 10px;
margin-left:0m;
text-align:center;
display:block;
}

.asidetext{
padding:0em;
margin:.2em;
margin-top:.10;
margin-bottom:2em;
align.text:left;
}

.smallimagelower{
margin:0em;
padding:0em;
text-align:left;
width:90%;


}

footer{
width:150%;
text-align: center;
background-color:rgb(217,217,214);

}


@media screen and (max-width: 930px) {
body {
width: 930;
height: 930;
padding-left:40;
padding-right:20;
}

.outer{
flex-direction: column;
}

.asidelower{
width:100%;
}






