body{
width:100%;
max-width:1100px;

}

header{
width:100%;
background-color:rgb(217,217,214);
text-align: center;
padding-top:2em;
padding-bottom:2em;
margin-bottom:2em;
}

p{
width: 90%;
font-weight:100;
font-family: 'Lora', serif;
font-size:21;
}

h1{
color:#143774;
font-size: 36;
font-weight:300;
font-family: 'Lora', serif;
}

h2{
font-weight:300;
font-family: 'Lora', serif;
color:#143774;
}

h3{
}

h4 {
padding-bottom:2em;
padding-top:2em;
color:#143774;
}

h5{
color: #21abcd;
}

hr{
}

a{
color:#1792D2;
text-decoration: none;
}

a:hover{
color:blue;
}

nav li{
margin-top: .39em;
margin-left:4.0em;
}

nav ul {
list-style: none;
margin-right: 10em;
margin-left:4em;
}

nav a {
text-decoration: none;
color: #707070;
font-weight: 700;
padding: .25em 0;
}

.current-page{
border-bottom: 1px solid #707070;
}

.site-title{
    
    
}

.subtitle{
margin-bottom:2.2em;
text-align:center;
}

.most_outer{
width: 90%;
margin: 0 auto;
}

.entire_section{
margin-left:3%;
}

.titleimage{
width:95%;
height:20%;
background-image: url("./images/work.jpg");
background-position: bottom;
background-repeat: no-repeat;
background-size:cover;
padding-bottom:200;
}

.lhandrect{

}

.lhandtext{
}

.line{
border-top: 2px solid;
border-color:#c7c7c7;
margin-top:3em;
margin-right:2em;
margin-left:2em;
padding-bottom:2em;
}

.smallimage{
margin-top:2em;	
margin-bottom: 1em;
width:100%;

}

.article-title{
}

.title{
}

.date{
font-size:16;
font-weight: 400;
font-family: 'Lora', serif;
color:#707070;
}

.blue_bold_link{
color: #1792D2;
font-size:15;
font-weight:bold;
font-family: 'Ubuntu', sans-serif;
}



.rhanded_boxes{
}

.asidehigher{
border-color: #d7d7d7;
border-style: solid;
border-width: 10px;
margin-bottom: 2em;
text-align:center;
padding-bottom:3em;
}

.asidelower{
border-color:#d7d7d7;
border-style: solid;
border-width: 10px;
text-align:center;
padding-bottom:3em;
margin-bottom:3em;
}

.asidetext{
margin-left:5%;
text-align:left;
width:90%;
}

.asideheading{
text-align: center;

font-family: 'Ubuntu', sans-serif;
color:#143774;
}

.smallimagelower{
width:60%;
}

.footer{
visibility: hidden;
}

.otherfooter{
visibility: visible;
text-align:center;
padding-bottom:3em;
}


/*desktop*/
@media screen and (min-width: 960px) {




body{
width:100%;
max-width: 1320px;
margin: 0 auto;
margin-right:-1em;

border: 1px solid magenta;

}

header{
width:100%;
background-color:#ffffff;
margin-bottom:3em;
}

p {
text-align: left;
width: 90%;
font-size:1.3em;
}

h1{
color: blue;
}

h4 {
}

h5{
color: #21abcd;
}

a{
text-decoration: underline;
}

a:link{
text-decoration: underline;
}

a:hover{
text-decoration: underline;
}

a:active {
text-decoration: underline;
}

nav{
}

nav li{
margin-left:1.7em;

}

nav ul {
list-style: none;
display:flex;
flex-direction: row;
margin-right:0em;
justify-content: center;

}

nav a {
color: #707070;
text-decoration:none;
}

nav a:link{
text-decoration:none;
}

br{
}

.current-page{
border-bottom: 1px solid #707070;
}

.title{
margin-left:.1em;
}

.site-title{
    
    
}

.subtitle{
    
}

.most-outer{
}

.entire_section{
height:40%;
display: flex;
}

.titleimage{
height:40%;
background-image: url("./images/work.jpg");
background-position: bottom;
background-repeat: no-repeat;
background-size:cover;
padding:2em;
border: 1px solid magenta;
}

.main-heading{
}

.main_paragraph_link{
}

.textz{
}

.text{

}

.lhandrect{
display: flex;
flex-direction: row;
}

.lhandtext{
margin-bottom: 2em;
}

.smallimage{
margin-right: 18em;
width:100%;
max-width: 270;
}

.article-title{
}

.date{
margin-top:.7em;
}

.blue_bold_link{
color: blue;
margin-bottom:2em;
margin-top:2em;
}

.header_container{
    background-color:solid magenta;
    border: 1px solid magenta;
    display:flex;
flex-direction: row;
width: 90%;
justify-content: space-between;
padding-left:1em;

margin-left:60;


}

.rhanded_boxes{
margin-left:4em;
width:100%;
}

.asidehigher{
width:55%;
border-color: #d7d7d7;
border-style: solid;
border-width: 10px;
padding:2em;
margin-left:0em;

}

.asidelower{
width:55%;
border-color:#d7d7d7;
border-style: solid;
border-width: 10px;

padding:2em;
margin-left:0em;
}

.asidetext{
margin:.2em;
text-align:center;
}

.smallimagelower{
width:100%;
margin-bottom:.5em;
}

.footer{
visibility: visible;
margin-right: -92%;
text-align:center;
padding-bottom:3em;
padding-top:3em;
}

.otherfooter{
visibility:hidden;
}

